.avatar {
  border-radius: 50%;

  &Small {
    @extend .avatar;
    width: 2rem;
    height: 2rem;
  }

  &Big {
    @extend .avatar;
    width: 6rem;
    height: 6rem;
    display: block;
    margin: auto;
  }
}
